In [1]:
#determine fixed length cols based on --- place holders in second row of noaa data
#row2= "----- -------- ----------- ------------- ------------ ---------------"
data = None
import pandas as pd
fp = r'2493889.txt'
row2 = open(fp, "r").readlines()[1] #reads the second line of the file that has something like the above example
rowsplit = row2.split() #default is to split on spaces
col_widths = [len(x)+1 for x in rowsplit] # list comprehension finds the length of each set of -----
data= pd.read_fwf(fp, skiprows=[1], colspecs='infer', na_values=-9999, infer_nrows=100, widths=col_widths )

data

,STATION,STATION_NAME,DATE,MDPR,MDSF,DAPR,DASF,PRCP,SNWD,SNOW,TAVG,TMAX,TMIN,TOBS
0,GHCND:USW00014752,HARTFORD BRAINARD FIELD CT US,19690108,NaN,NaN,NaN,NaN,0.00,3.0,0.0,NaN,30.0,18.0,NaN
1,GHCND:USW00014752,HARTFORD BRAINARD FIELD CT US,19690109,NaN,NaN,NaN,NaN,0.15,4.0,1.1,NaN,25.0,16.0,NaN
2,GHCND:USW00014752,HARTFORD BRAINARD FIELD CT US,19690110,NaN,NaN,NaN,NaN,0.00,3.0,0.0,NaN,28.0,15.0,NaN
3,GHCND:USW00014752,HARTFORD BRAINARD FIELD CT US,19690111,NaN,NaN,NaN,NaN,0.00,3.0,0.0,NaN,29.0,13.0,NaN
4,GHCND:USW00014752,HARTFORD BRAINARD FIELD CT US,19690112,NaN,NaN,NaN,NaN,0.00,3.0,0.0,NaN,33.0,11.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23886,GHCND:USW00014740,HARTFORD BRADLEY INTERNATIONAL AIRPORT CT US,19781228,NaN,NaN,NaN,NaN,0.00,3.0,0.0,NaN,26.0,15.0,NaN
23887,GHCND:USW00014740,HARTFORD BRADLEY INTERNATIONAL AIRPORT CT US,19781229,NaN,NaN,NaN,NaN,0.00,3.0,0.0,NaN,28.0,10.0,NaN
23888,GHCND:USW00014740,HARTFORD BRADLEY INTERNATIONAL AIRPORT CT US,19781230,NaN,NaN,NaN,NaN,0.00,3.0,0.0,NaN,33.0,13.0,NaN
23889,GHCND:USW00014740,HARTFORD BRADLEY INTERNATIONAL AIRPORT CT US,19781231,NaN,NaN,NaN,NaN,0.10,3.0,0.0,NaN,39.0,29.0,NaN
23890,GHCND:USW00014740,HARTFORD BRADLEY INTERNATIONAL AIRPORT CT US,19790101,NaN,NaN,NaN,NaN,0.25,1.0,0.0,NaN,54.0,39.0,NaN